attrs==23.1.0
bbcode==1.1.0
certifi==2023.5.7
distlib==0.3.6
filelock==3.12.0
Jinja2==3.1.2
jsonmerge==1.9.0
jsonschema==4.17.3
Markdown==3.4.3
MarkupSafe==2.1.2
mistune==2.0.5
platformdirs==3.5.1
Pygments==2.15.1
pymdown-extensions==9.11
pyrsistent==0.19.3
PyYAML==6.0
virtualenv==20.23.0
virtualenv-clone==0.5.7
