{% extends "_base.html" %}

{% block obsah %}
    {% if pojmova_mapa %}
        <div id="pojmova_mapa" class="print:hidden" style="height: 65vh;"></div>
    {% endif %}

    <article class="p-4 markdown-body md:p-8" style="background-color: transparent;">
        {{ poznamky|safe }}
    </article>
{% endblock obsah %}

{% block skripty %}
    {{ super() }}

    <!-- vis-network -->
    <link rel="stylesheet" href="https://unpkg.com/vis-network@9/dist/dist/vis-network.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script type="text/javascript" src="https://unpkg.com/vis-network@9/dist/vis-network.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- Tooltipy -->
    <script type="text/javascript" src="https://unpkg.com/@popperjs/core@2" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="text/javascript" src="https://unpkg.com/tippy.js@6" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    
    {% if pojmova_mapa %}
        <!-- Načítanie pojmovej mapy -->
        <script type="text/javascript" src="/staticke/pojmova_mapa.js"></script>
        <script type="text/javascript">
            const DATA = {{ pojmova_mapa|safe }}; // eslint-disable-line
            vytvoritPojmovuMapu(DATA);
        </script>
    {% endif %}


    <!-- Načítanie D3.js a Mermaid -->
    <script type="text/javascript" src="https://unpkg.com/d3@7"></script>
    <script type="module">
        import mermaid from "https://unpkg.com/mermaid@10/dist/mermaid.esm.min.mjs";
        mermaid.initialize({ startOnLoad: true, theme: "neutral", logLevel: 'debug' });

        window.mermaid = mermaid;
    </script>


    <!-- Približovanie Mermaid diagramov pomocou D3.js -->
    <script type="text/javascript">
        var observer = new MutationObserver(function(mutations) {
            mutations.forEach(function(mutation) {
                if (mutation.addedNodes.length) {
                    var addedNode = mutation.addedNodes[0];
        
                    if (addedNode && addedNode.nodeName === 'svg' && addedNode.parentNode.classList.contains('mermaid')) {
                        var svg = d3.select(addedNode);
                        svg.html(`<g>${svg.html()}</g>`);
                        var vnutro = svg.select("g");
        
                        var priblizenie = d3.zoom().on("zoom", (event) => {
                            vnutro.attr("transform", event.transform);
                        });
        
                        svg.call(priblizenie);
                    }
                }
            });
        });
        
        observer.observe(document.body, { childList: true, subtree: true });        
    </script>

    <!-- MathJax -->
    <script type="text/javascript" src="https://unpkg.com/mathjax@3/es5/tex-mml-chtml.js"></script>
    <script type="text/javascript">
        window.MathJax = {
            tex: {
              inlineMath: [ ["\\(","\\)"] ],
              displayMath: [ ["\\[","\\]"] ],
              processEscapes: true,
              processEnvironments: true
            },
            options: {
              ignoreHtmlClass: ".*",
              processHtmlClass: "arithmatex"
            }
          };
          
    </script>
{% endblock skripty %}
