{% extends "_base.html" %}

{% block obsah %}
    <div class="p-5 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 place-items-center">
        {% for data in zoznam %}
            <div class="rounded overflow-hidden shadow-lg p-4 bg-white dark:bg-gray-700">
                <div class="font-bold text-xl mb-1 text-indigo-600 dark:text-indigo-400">{{ data["nazov"] }}</div>

                {% if data["autori"] %}
                    <p class="text-gray-700 text-base dark:text-gray-200 mb-1">
                        <div class="flex flex-row gap-4"><b>Autori:</b> <i>{{ data["autori"]|join(', ') }}</i></div>
                    </p>
                {% endif %}
                
                {% if data["popis"] is not none %}
                    <div class="text-gray-700 text-base mt-2 dark:text-gray-200">
                        {{ data["popis"] }}
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endblock obsah %}
